// VARIABLES OF COLORS 

$pri :  #FCDEC0;
$sec : #7D5A50;
$tri1 : #E5B299;
$tri2 : #B4846C; 




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
   width:100%;
   height: fit-content;
   background-color: $sec;

//    nav{
       
//       width: 100%;
//       height: 15vh;
//       padding: 1rem;
//       position: fixed;
//       background-color: $tri1;
//       z-index: 100;
//    }

    section.all-elem{
       height: fit-content;
        width: 100%;
        border: 2px solid red;
        display: flex;
        position: relative;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 10rem 5rem;

        .elem{
        height: 250px;
        width: 300px;
        background-color: $tri2;
        transition: all ease 0.2s;
        position: relative;
        &:active{
            scale: 0.9;
        }

        h1{
            position: absolute;
            font-size: 1.5rem;
            bottom: 4%;
            right: 5%;
        }
    }
    }


   
        .full-page-elem{
          height: 100vh;
          width: 100%;
          position: absolute;
         
          top: 0;
          font-size: 2rem;
          color: $pri;
          display: none;
          background-color: $sec;

          .close-btn{
            position: absolute;
            padding: 0.8rem 2rem;
            background-color: red;
            border: none;
            border-radius: 0.2rem;
            font-size: 1.5rem;
            color: white;
            right: 3%;
            top: 3%;
          }
          
          
        }
    

    








     
}