*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
main{
   width: 100%;
   height: 100vh;
   background-color: rgb(39, 39, 39);
   display: flex;
   overflow: hidden ;
    
       .info{
        width: 20%;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
          h1{
            font-size: 1vw;
            text-align: center;
            color: white;
          }
          button{
            padding: 1vw 2vw;
            font-size: 2vw;
            position: relative;
            z-index: 10;
          }
       }
       .content{
        width: 80%;
        border: 2px solid blue;
        overflow: hidden;

       }
}