*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

@font-face {
    font-family:mona ;
    src: url(./fonts/Mona-Sans-870dff5a10221ba7d01cc47eca10d0b2f911bd4196bb941985490bd8c7363cd9.woff2);
}

@font-face {
    font-family: vsans-regular;
    src: url(./fonts/WFVisualSans-RegularText-46461986901f80620e484e70aa8cbb90ede25a01351d464819a4e47a3f38ea43.woff2);
}

@font-face {
    font-family: vsans-semibold;
    src: url(./fonts/WFVisualSans-SemiBold-aa0e55353b6a1b897f76a0fcbf5561fa243ce1b8b9f6aebcb5a186f0536713b1.woff2);
}


main{
    height: 100%;
    width: 100%;
}

header{
    height: 88vh;
    width: 100%;

}

.nav{
    width: 100%;
    /* border: 2px solid red; */
   
}

.nav-item-container{
    /* border: 2px solid red; */
    width: 95%;
    margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 12px 0;
}

.left{
    display: flex;
    align-items: center;
    padding: 10px 0;
    width: 50%;
    /* border: 2px solid green; */
    gap: 30px;
}


a{
    text-decoration: none;
    color: black;
    font-family:mona ;
    font-size: 10px;
    font-weight: 500;
}

.signup{
    border: none;
    background: transparent;
    transition: all ease 0.2s;
    font-family: vsans-semibold;
    font-size: 10px     ;
}

.signup:hover{
    opacity: 0.5;
}

.login{
    background-color: #0D0C22;
    padding: 10px 18px;
    border-radius: 50px;
    color: white;
    font-size: 10px;
    border: none;
    font-family: vsans-semibold;
}

.nav-items{
    display: flex;
    align-items: center;
    gap: 2vw;
}


/* // styling hero section  */


.hero-section{
    width: 100%; 
    height: 58%;
    display: flex;
    align-items: center;
    /* background-color: blue; */
    padding: 0 3.5vw;
   
}

.left-hero{
    width: 55%;
    height: 100%;
    /* background-color: yellow; */
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right-hero{
    width: 45%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: end;
}

.right-hero video{
    width:95% ;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}


.headings{
    font-family: vsans-semibold;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainheading{
    display: flex;
    flex-direction: column;
    line-height: 30px;
}

.subheading{
    display: flex;
    flex-direction: column;
    line-height: 14px;
    
}


.subheading p{
    font-size: 12px;
    font-weight: 300;
}



.shots-btn{
    padding: 8px 15px ;
    border: none;
    border-radius: 40px;
    background-color: #0D0C22;
    color: white;
    font-size: 12px;
}

.designers-btn{
    border: none;
    color: black;
    font-size: 12px;
    background-color: transparent;
    transition: all ease 0.2s;
}

.designers-btn:hover{

    padding: 8px 15px ;
    border-radius: 40px;
    background-color: #F3F3F6;
  
}
.services-btn:hover{

    padding: 8px 15px ;
    border-radius: 40px;
    background-color: #F3F3F6;
  
}

.services-btn{
       border: none;
    color: black;
    font-size: 12px;
    background-color: transparent;
    transition: all ease 0.2s;
}

.search-button{
    width: 70%;
    display: flex;
    align-items: center;
     background-color: #F3F3F6;
     border-radius: 20px;
     justify-content: space-between;
     padding: 0 5px;
}

.search-button input{
    width: 80%;
    padding: 12px 15px;
   
    border: none;
    outline: none;
    font-size: 10px;
   background-color: transparent;
    color: black;
    transition: all ease 0.2s;
}

.search-button i{
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-left: 10px;
    background-color: #EA4C89;
}

.search-button:hover{
    border: 2px solid rgb(239, 218, 221);
    background-color: wheat;
}

.second-hero-btn-container{
    display: flex;
    gap: 5px;
    align-items: center;
    font-family: mona;
    font-size: 12px;

}

.second-hero-btn-container h5{
    font-size: 12px;
}


.second-hero-btn-container button{
    font-size: 8px;
    padding: 4px 10px;
    border: 1px solid gray;
    
    border-radius: 14px;
}


.first-hero-btn-container{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    gap: 20px;
}

.buttonAndSearch{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.header-feedback{
    width: 95%;
    margin: 0 auto;
    background-color: #F8F8FC;
    padding: 10px 3.5vw;
    display: flex;
    align-items: center;
}
.header-feedback button{
    padding: 8px  15px ;
    border-radius: 30px;
    font-size: 12px;
    border: none;
    white-space: nowrap;
}

.header-feedback h4{
    font-size: 10px;
    font-weight: 500;
}

.header-f-wrapper{
    width: 100%;
    height: auto;
    margin: 30px 0 ;
}



.genre-btns{
    /* border: 2px solid red; */
    width: 100%;
   
}

.genre-btn-container{
    /* border: 2px solid blue; */
    width: 95%;
     padding: 20px 0 ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */

}

.popular-btn {

    padding: 8px 20px;
    border: none;
    font-size: 10px;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}

.discover-btn{
     border: none;
     font-size: 12px;
     padding: 6px 16px;
     border-radius: 20px;
}

.middle-items{
    display: flex;
    align-items: center;
    gap: 20px;
}

.genre-btn{
    border: none;
    font-size: 12px;
    background-color: white;

}


.filter-btn{
    border: 1px solid gray;
    font-size: 10px;
    padding: 8px 18px;
    border-radius: 20px;
    background-color: white;
}


.project-cards{
    width: 100%;
    /* background-color: blue; */
}

.project-cards-container{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 20px;
}

.card{
    height: 200px;
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card .img-container{
   
    height:85%;
    width: 100%;
    /* border: 2px solid green ; */
    position: relative  ;
    /* transition: all ease 0.3s; */

}

.img-container:hover .hover-card-item{
    opacity: 100;

}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.card-info{
    height: 15%;
    width: 100%;
    display: flex;
}

.person-info{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
    width: 60%;
    gap: 8px;
}

.person-info img{
    border-radius: 50%;
    width: 20px;
}

.person-info p{
    font-size: 10px;
}

.person-info button{
    font-size: 8px;
    background-color: gray;
   border: none;
    color: white;
    font-weight: 800;
    padding: 2px 5px;
    border-radius: 2px;
}

.like-btn-container{
    width: 40%;
    display: flex;
   align-items: center;
   justify-content: end;
   /* border: 2px solid pink; */
   gap: 10px;
}

.like-btn-container button{
    font-size: 10px;
    background-color: transparent;
    border: none;
    color: #9E9EA7;
}

.hover-card-item{
    /* border: 2px solid blue; */
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 30%;
    background: linear-gradient(transparent , black);
    opacity: 0;
    transition: all ease 0.3s;
}



.hover-card-item .love{
    color: black;
    background-color: white;
    padding: 8px 8px;
    border-radius: 50%;
}
.hover-card-item .bookmark{
    color: white;
   background-color: black;
    padding: 6px 8px;   
    border-radius: 50%;
}



footer{
    width: 100%;
    /* border: 2px solid red; */
    font-family:mona;
    padding: 30px 0;
}

.footer-info-container{
    width: 85%;
    margin: 0 auto;
  
}
.footer-container{
     display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.footer-items{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 12px;
}

.social-media-btns{
    display: flex;
    align-items: center;
    gap: 10px;
}

.extra-footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extra-footer-info h3{
    font-weight: 500;
    font-size: 12px;
    word-spacing: 10px;
}
.extra-footer-info h2{
    font-weight: 500;
    font-size: 12px;
   
}




