*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;

    #box{
        height: 250px;
        width: 250px;
        background-color: red;
    }

    button{
        color: white;
        background-color: black;
        padding: 20px;
    }

}

