*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
   width:100%;
   height: 100vh;
   background-color: lightseagreen;
    
    display: flex;
   
    align-items: center;
    justify-content: center;
     
     .card{
        background-color: white;
        height: auto;
        width: 50%;
        display: flex;
        align-items: center;

         .display-number{
        box-shadow: 5px 2px 2px  lightblue;
        height: 400px;
        width: 80%;
         display: flex;
         align-items: center;
         justify-content: center;
             h1{
                font-size: 6rem;
             }
         }

         .buttons{
            height: 30%;
            
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            padding: 1rem;
            gap: 1rem;
           

            .btn{
                flex: 0 0 40%;
                border: 2px solid blue;
                font-size: 2rem;
                padding: 2rem 2rem;
                display: flex;
                align-items: center;
                justify-content: center;

            }

         }

     }


}