*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    
}

main{
    height: 100vh;
    width: 100%;
    background: url(./toji.jpg);
    background-size: cover;

     .card{
        border: 10px solid red;
        padding: 0.5rem 1rem;
        width: fit-content;

        .upper-box{
              display: flex;
              flex-direction: column;
              gap: 0.6rem;

              .option{
                display: flex;
                align-items: center;
                gap: 0.5rem;
                

                 small{
                    font-size: 1rem;
                    
                 }
              }
        }
     }
     
}
