*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
main{
   width:100%;
   height: fit-content;
   

        .main-info{
            width: 100%;
             
             .top-info{
                height: fit-content;
                width: 100%;
                border: 2px solid red;
                padding: 1rem;
                .search{
                    border: 2px solid black;
                    width: clamp(300px , 70% , 400px);
                    background-color: white;
                    padding: 0.2rem 1rem;
                    margin: 0 auto;
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;

                    i{
                        font-size: 1rem;
                    }
                     input{
                        border: none;
                        outline: none;
                        padding: 0.5rem;
                        font-size: 1rem;
                        margin-right: 1.8rem;
                        &::placeholder{
                            font-size: 1rem;
                        }
                        &::-webkit-search-cancel-button{
                            -webkit-appearance: none;
                        }
                       
                     }
                }

                .weather-img{
                    img{
                        width: 300px;
                    }
                }

                .weather-info{
                    padding: 0 4rem;
                    h1{
                        font-size: 6rem;


                    }
                    h2{
                        font-size: 2rem;
                    }
                }
            }
            .bottom-info{
                height: fit-content;
                width: 100%;
                border: 2px solid green;
                padding: 1rem 3.5rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                .status{
                    width: fit-content;
                    
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;

                    div{
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        i{
                            font-size: 1.4rem;
                        }
                    }
                    
                }
                 .btm-img{
                       width: 60vw;
                       height: 150px;
                       position: relative;
                    //    margin: 0 auto;
                        img{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            
                        }

                        small{
                            position: absolute;
                            font-size: 1.8rem;
                            color: black;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50% , -50%);
                            text-align: center;
                        }

                 }
            }
        }
}