 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 html , body{
     height: 100%;
     width: 100%;
 }
 main{
    width:100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

      .post{
        height: 60%;
       width: clamp(300px, 400px , 40%);
       background-color: white;
        display: flex;
        flex-direction: column;
          .img{
            width: 100%;
            height: 50%;
             img{
                height: 100%;
                width: 100%;
                object-fit: cover;

             }


             
          }

          .info{
                i{
                    font-size: 2rem;
                    color: red;
                    opacity: 0;
                    position: relative;
                    scale : 0;
                }
             }

      }
 }