* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "NeueMachina-regular";
  src: url(./fonts/NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
  font-family: "NeueMachina-light";
  src: url(./fonts/NeueMachina-Light_gwWCZxVuQl.ttf);
}
@font-face {
  font-family: "NeueMachina-bold";
  src: url(./fonts/NeueMachina-Bold_WaMOsLX9Z9.ttf);
}
@font-face {
  font-family: juana;
  src: url(./fonts/Fontspring-DEMO-juana-extralightit_toKzXEsfr.ttf);
}
@font-face {
  font-family: helvetical;
  src: url(./fonts/HelveticaNowDisplay-Light_M4nzWhve6k_k7HolyzL10.woff2);
}
@font-face {
  font-family: helveticab;
  src: url(./fonts/HelveticaNowDisplay-Bold_VMHV5twUMR_2SBNfxj1ry.woff2);
}
@font-face {
  font-family: helveticam;
  src: url(./fonts/HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2);
}
body, html {
  height: 100%;
  width: 100%;
}

main {
  height: auto;
  width: 100%;
  background: url(./images/background-img.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main header {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
main header nav {
  width: 93%;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
  align-items: center;
}
main header nav .left-nav {
  display: flex;
  align-items: center;
  width: 30%;
  gap: 1rem;
}
main header nav .left-nav img {
  width: clamp(35px, 2vw, 50px);
}
main header nav .left-nav h2 {
  color: white;
  font-size: 1rem;
  width: 140px;
  font-weight: 500;
  font-family: NeueMachina-regular;
}
main header nav .right-nav {
  font-family: NeueMachina-light;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5rem;
  width: 70%;
}
main header nav .right-nav a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
main header nav .right-nav :nth-child(3) {
  font-weight: 600;
  font-size: 1.2rem;
}
main header nav .right-nav :nth-child(4) {
  font-weight: 600;
  font-size: 1.1rem;
}
main header nav .right-nav button {
  padding: 0.5em 1.5em;
  font-size: 1rem;
  border-radius: 0.1em;
  border: none;
  font-weight: 500;
  background-color: #24cfa6;
}
main header section {
  width: 100%;
  flex: 1;
}
main header section .herotxt {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  position: relative;
}
main header section .herotxt .text {
  display: flex;
  flex-direction: column;
  line-height: 5em;
}
main header section .herotxt .text :nth-child(1) span {
  color: #24cfa6;
}
main header section .herotxt .text :nth-child(3) span {
  font-family: juana;
}
main header section .herotxt .text h1 {
  font-size: 5.4em;
  text-align: center;
  font-family: NeueMachina-regular;
  color: white;
  font-weight: 500;
}
main header section .herotxt button {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  border-radius: 0.4em;
  border: none;
  background-color: #24cfa6;
  color: black;
}
main header section .herotxt .text2 {
  color: white;
  font-family: helvetical;
  font-weight: 500;
  position: absolute;
  right: 14%;
  bottom: 28%;
  font-size: 0.9vw;
}
main header section .herotxt .text2 :nth-child(1) span {
  color: #24cfa6;
}
main header section .herotxt .text2 :nth-child(2) span {
  color: #24cfa6;
}
main header section .achivement {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6vw;
  font-family: helveticab;
  height: 20%;
}
main header section .achivement h1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.8vw;
}
main header section .achivement h1 :nth-child(2) {
  font-family: NeueMachina-light;
}
main .youtube-banner {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: NeueMachina-light;
  margin-top: 10rem;
  gap: 3vw;
}
main .youtube-banner h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 2.8vw;
}
main .youtube-banner h1 :nth-child(2) {
  color: #24cfa6;
}
main .youtube-banner div {
  height: 60%;
  width: 60%;
}
main .youtube-banner div iframe {
  width: 100%;
  height: 100%;
  border-radius: 1em;
}
main .youtube-banner button {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  border-radius: 0.4em;
  border: none;
  background-color: #24cfa6;
  color: black;
}
main .courses {
  width: 100%;
}
main .courses section {
  width: 93%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
main .courses section h1 {
  font-size: 3em;
  font-family: NeueMachina-light;
  font-weight: 500;
  color: white;
}
main .courses section .course-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 2rem;
  justify-content: center;
  height: auto;
}
main .courses section .course-container .course {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
main .courses section .course-container .course .top {
  width: 100%;
  border-radius: 1rem;
  background-color: #171717;
}
main .courses section .course-container .course .top .img-wrapper {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}
main .courses section .course-container .course .top .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
main .courses section .course-container .course .top .content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  color: white;
  font-family: helvetical;
  padding: 1.3rem 1rem;
}
main .courses section .course-container .course .top .content-wrapper .name {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
main .courses section .course-container .course .top .content-wrapper .name :nth-child(1) {
  font-size: 1.4rem;
}
main .courses section .course-container .course .top .content-wrapper .name :nth-child(2) {
  background-color: #2C2C2C;
  padding: 4px 13px;
  border-radius: 0.4em;
  font-size: 0.9rem;
  width: -moz-fit-content;
  width: fit-content;
}
main .courses section .course-container .course .top .content-wrapper .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .courses section .course-container .course .top .content-wrapper .price .left-price {
  display: flex;
  flex-direction: column;
}
main .courses section .course-container .course .top .content-wrapper .price .left-price :nth-child(1) {
  color: #24cfa6;
}
main .courses section .course-container .course .top .content-wrapper .price .left-price :nth-child(2) {
  font-size: 1.4rem;
  font-family: helveticam;
}
main .courses section .course-container .course .top .content-wrapper .price .left-price :nth-child(2) span {
  font-size: 1.2rem;
  color: #7C7C7C;
  margin-left: 6px;
  text-decoration: line-through;
}
main .courses section .course-container .course .top .content-wrapper .price .offer {
  background-color: white;
  color: black;
  font-size: 0.7rem;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-weight: bold;
}
main .courses section .course-container .course button {
  padding: 0.5em 1.5em;
  font-size: 1.5em;
  border-radius: 0.4em;
  border: none;
  background-color: #24cfa6;
  color: black;
  width: 100%;
  font-weight: bold;
}
main .companies {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-top: 10%;
}
main .companies h1 {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: NeueMachina-light;
  color: white;
  font-weight: 500;
}
main .companies h1 :nth-child(1) span {
  color: #24cfa6;
}
main .companies .company-img-container {
  height: auto;
  width: 70%;
}
main .companies .company-img-container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .companies button {
  padding: 0.5em 1.5em;
  font-size: 1.5rem;
  border-radius: 0.1em;
  border: none;
  font-weight: 500;
  background-color: #24cfa6;
}
main footer {
  max-width: 93%;
  margin: 0 auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  display: flex;
  color: white;
  font-family: helvetical;
  padding: 8% 0;
}
main footer a {
  text-decoration: none;
  transition: all ease-in 0.2s;
  color: white;
}
main footer a:hover {
  color: #24cfa6;
}
main footer .left {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
main footer .left div {
  display: flex;
  font-size: 1.6rem;
  gap: 1rem;
}
main footer .company {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 1.5rem;
}
main footer .company h1 {
  font-size: 1.2rem;
}
main footer .community {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
  width: 25%;
}
main footer .community h1 {
  font-size: 1.2rem;
}
main footer .community a {
  text-decoration: none;
  color: white;
}
main footer .touch {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 1rem;
}
main footer .touch h1 {
  font-size: 1.2rem;
}
main footer .touch .contact-info {
  display: flex;
  flex-direction: column;
}
main footer .touch .contact-info a {
  text-decoration: none;
  color: white;
}
main .copyright {
  text-align: center;
  padding: 1.4rem 0;
  font-size: 0.7rem;
  color: white;
  font-family: helveticab;
}/*# sourceMappingURL=style.css.map */